@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* ---------------------hero-section------------------ */

#hero-section .main-image {
  margin-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 326px;
  object-fit: cover;
  filter: brightness(80%);
}

.caption {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #f4faff;
}

.blue-letter {
  color: #03a4ee;
}

.caption h3 {
  font-size: 21px;
  font-weight: 700;
  /* margin-bottom: 0px; */
}

.caption .text {
  margin: 20px 20px 0;
}

.title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.title-icon .icon {
  height: 183px;
  width: 128px;
  /* object-fit: cover; */
}

.icon img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}
.line {
  border: 1px solid #f4faff;
  width: 124px;
  height: 1px;
  margin: 0 40px;
}

/* ---------- hero-section---------- */

/* ----------our story---------- */

#our-story h2 {
  font-size: 37px;
}
#our-story h2,
#our-story h4 {
  text-align: left;
}

#our-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 92px;
  background: #f4faff;
  line-height: 200%;
  position: relative;
}

#our-story .left-container {
  padding: 100px 0 100px 110px;
  float: left;
  text-align: left;
  width: 620px;
}

#our-story .left-container p {
  padding-top: 40px;
  /* padding-bottom: 30px; */
  line-height: 200%;
  text-align: justify;
}

#our-story .right-container {
  width: 713px;
  height: 694px;
  background: white;
  margin: 200px 0 100px 0;
}

#our-story .director-image {
  width: 490px;
  height: 335px;
  padding: 56px 110px;
}

#our-story .director-text {
  padding: 56px 110px;
}

#our-story .director-text h3 {
  margin-top: 20px;
}

#our-story .director-text p {
  margin-bottom: 17px;
}

#our-story .red {
  color: #d54242;
  font-size: 21px;
}

/* ----------our story---------- */

/* ----------our story---------- */

#mission-vision {
  background: #f4faff;
  position: relative;
}

.hands-left-icon,
.hands-right-icon {
  /* height: 325px; */
  width: 225px;
  position: absolute;
  left: 5%;
}

.hands-right-icon {
  /* height: 325px; */
  width: 225px;
  position: absolute;
  left: 5%;
  bottom: 1%;
}
.hands-left-icon img,
.hands-right-icon img,
.one-hand-up-icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.one-hand-up-icon {
  /* height: 325px; */
  width: 225px;
  position: absolute;
  left: 79%;
  top: 43%;
}

.top-left {
  position: absolute;
  top: -3%;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: -5%;
  z-index: 1;
  right: 0;
}

.up-container {
  padding: 121px 217px 54px 521px;
}
.circle {
  height: 700px;
  width: 700px;
  border-radius: 50%;
  background: #012f3c;
  position: relative;
}

.text {
  position: absolute;
  right: 5%;
  top: 15%;
  color: #f4faff;
  width: 316px;
  line-height: 200%;
  padding: 10px;
}

.rectangle-dots {
  position: absolute;
  bottom: 10%;
  right: 129%;
}

.text h4 {
  margin: 10px 0;
}

.up-image {
  width: 530px;
  height: 425px;
  background: #f4faff;
  position: absolute;
  right: 45%;
  top: -10%;
  padding: 20px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.up-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.small-shape {
  width: 205px;
  height: 70px;
  background: #03a4ee;
  position: absolute;
  right: 90%;
  top: -2%;
  border-radius: 0 40px 40px 0;
  transform: rotate(104.33deg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 75% 100%, 7% 100%);
}

.down-image {
  width: 530px;
  height: 425px;
  background: #f4faff;
  position: absolute;
  right: 63.7%;
  top: 50%;
  padding: 20px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.down-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
/* ----------.down-container---------- */
.down-container {
  padding: 121px 217px 54px 521px;
}
.down-container .rectangle-dots {
  position: absolute;
  top: 10%;
  right: 122%;
  transform: rotate(145deg);
}

.down-container .up-image {
  width: 530px;
  height: 425px;
  background: #f4faff;
  position: absolute;
  right: 63%;
  top: -15%;
  padding: 20px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.down-container .up-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.down-container .small-shape {
  width: 205px;
  height: 70px;
  background: #03a4ee;
  position: absolute;
  right: 117%;
  top: -7%;
  border-radius: 0 40px 40px 0;
  transform: rotate(75.67deg);
  clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 75% 100%, 0% 100%);
}

.down-container .down-image {
  width: 530px;
  height: 425px;
  background: #f4faff;
  position: absolute;
  right: 44.2%;
  top: 45%;
  padding: 20px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.down-container .down-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}
/* ----------our story---------- */
